/*
h1 {
  font-size: 72px;
  color: #FF1589
}

.container {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

*/
#icon-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.colored {
  font-size: 8rem;
}